<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New comment</title>
</head>
<body>
{% if user.is_authenticated %}
        <form action="/addcomment" enctype="multipart/form-data" method="POST">
             {% csrf_token %}
            {% for item in comment %}
                        <div class="col-span-2">
                                <label for=""> Add Coments </label>
                            <textarea name="content" rows="3"  class="shadow-none bg-gray-100">{{comment.content}}</textarea>
                        </div>
            <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                           <button class="p-2 px-4 rounded bg-gray-50 text-red-500"> <a href="/">Cancel</a> </button>
                           <button type="submit" class="button bg-blue-700"> <a href="/addcomment/{{item.post}}/{{item.id}}"> Save </a> </button>
                       </div>
            {% endfor %}
        </form>
 {% else %}
 <p> Signin for comment </p>
 <a href="/signin">signin</a>
 </hr>
 {% endif %}
</body>
</html>
