<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
</head>
<body>
<p>{{ post.title }}</p>
<img src={{ post.image.url }} width=30% height=30% />
<p> {{ post.content }} </p>
<p> 'Comments - '{{ comments.count }}</p>
{% for item in comments %}
<p>{{ item.content }}</p>

{% endfor %}

</body>
</html>