
 .image {
    display: block-line;
    margin-left: auto;
    margin-right: auto;
    }

 .img-line {
        text-align: center;
	    border: 2px solid #55c5e9; /* Рамка навколо зображення */
		padding: 15px; /* Відстань від картинки до рамки */
		background: #66CDAA; /* Колір фона */
		margin-right: 10px; /* Відступ зправа */
		margin-bottom: 10px; /* Відступ знизу */
    }



